@font-face {
    font-family: 'Lato';
    font-weight: 1 999;
    src: url(/assets/fonts/lato/3.002/min/vf.woff2) format('woff2');
}

body {
    font-family: 'Lato' !important;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: subpixel-antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* MORE INFO -> https://developers.google.com/fonts/docs/material_icons */
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

.item .extra a {
    color: rgba(0, 0, 0, 0.4);
}

.item .extra a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* Pagination styles --START-- */
.pagination {
    padding: 0px;
}

.pagination li {
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    line-height: 1.9em;
    font-size: 1.6em;
    margin: 1px;
    vertical-align: middle;
    color: gray;
    text-align: center;
}

.pagination li:not(.active):not(.disabled) {
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: 2em;
    color: black;
}

/* Pagination styles --END-- */

.ui.cards>.card>.image>img,
.ui.card>.image>img {
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

.wide-min-320 {
    min-width: 320px !important;
}

.redactor-styles {
    font-family: Lato !important;
}

.redactor-toolbar {
    background-color: #fff !important;
}

.items-search-input {
    margin-bottom: 1rem;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
    html:focus-within {
        scroll-behavior: smooth;
    }
}

.operation-note {
    font-size: larger !important;
    padding-top: .5rem !important;
    padding-bottom: 1rem !important;
    margin-top: 0px !important;
}

.grey-text {
    color: rgba(0, 0, 0, 0.4) !important;
}

.header-margins {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.archived-item {
    background-color: hsl(0deg 0% 55% / 10%) !important;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 70px) !important;
}
