.hide {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

.item .extra a {
    color: rgba(0, 0, 0, 0.4);
}

.item .extra a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* Pagination styles --START-- */
.pagination {
    padding: 0px;
}

.pagination li {
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    font-size: 1.4em;
    margin: 1px;
    vertical-align: middle;
    color: gray;
    text-align: center;
}

.pagination li:not(.active):not(.disabled){
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: 2em;
    color: black;
}
/* Pagination styles --END-- */

.ui.cards>.card>.image>img,
.ui.card>.image>img {
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

.wide-min-320 {
    min-width: 320px !important;
}

.redactor-styles {
    font-family: Lato !important;
}

.redactor-toolbar {
    background-color: #fff !important;
}

.items-search-input {
    margin-bottom: 1rem;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
    html:focus-within {
        scroll-behavior: smooth;
    }
}

.operation-note {
    font-size: larger !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
