@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/vendor/font-awesome/4.6.3/fonts/fa.eot');
    src: url('/assets/vendor/font-awesome/4.6.3/fonts/fa.eot?#iefix') format('embedded-opentype'), 
         url('/assets/vendor/font-awesome/4.6.3/fonts/fa.woff2') format('woff2'), 
         url('/assets/vendor/font-awesome/4.6.3/fonts/fa.woff') format('woff'), 
         url('/assets/vendor/font-awesome/4.6.3/fonts/fa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/2.015/bold.eot');
    src: url('/assets/fonts/lato/2.015/bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lato/2.015/bold.woff2') format('woff2'),
         url('/assets/fonts/lato/2.015/bold.woff') format('woff'),
         url('/assets/fonts/lato/2.015/bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/2.015/regular.eot');
    src: url('/assets/fonts/lato/2.015/regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lato/2.015/regular.woff2') format('woff2'),
         url('/assets/fonts/lato/2.015/regular.woff') format('woff'),
         url('/assets/fonts/lato/2.015/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}