@font-face {
    font-family: 'Lato';
    font-weight: 1 999;
    src: url(/assets/fonts/lato/3.002/min/vf.woff2) format('woff2'),
         url(/assets/fonts/lato/3.002/min/vf.woff) format('woff');
}

@font-face {
    font-family: 'Lato-fallback';
    letter-spacing: -0.25px;
    src: local('Segoe UI');
}

body {
    font-family: Lato, Lato-fallback, sans-serif !important;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: subpixel-antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

     /* MORE INFO -> https://developers.google.com/fonts/docs/material_icons */
}
